generator:
  class: sfDoctrineGenerator
  param:
    model_class:           sbJobBoardJob
    theme:                 aAdmin
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          sb_job_board_job
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:  
        reference: { label: 'Job Reference ID' }
        title:     { label: 'Position Title' }
        type:      { label: 'Contract Type' }
        tags:      { label: 'Keywords (Tags)' }
        categories_list: { label: 'Industries (Categories)' }
        
      list:    
        title:    "Job Board Admin"
        display:  [ reference, title, active, featured, type, location, updated_at ]
        sort:     [ updated_at, desc]
      filter:
        fields:   [ reference, title, type, location, active, featured ]
        display:  [ reference, title, type, location, active, featured ]
      form:    ~
      edit:
        title:    "Edit %%title%%"
      new:
        title:    "Post a new job vacancy"
