.a-admin-generator.sbJobBoardJobAdmin .a-subnav-wrapper.admin {
	display: none;
}

.a-admin-generator.sbJobBoardJobAdmin .a-content, .a-admin-generator.sbJobBoardJobAdmin .a-admin-content {
	width: 100%;
}

.a-admin-generator.sbJobBoardJobAdmin .a-admin-flashes {
	background: transparent url('/apostrophePlugin/images/a-icon-error.png') no-repeat scroll left top;
}

.a-admin-generator.sbJobBoardJobAdmin #a-admin-filters-location br {
	clear: left;
}

.alt.sb-job-board-btn > .icon {
	background-position: -20px -1400px;
}

.job-board-description {
	padding-bottom: 10px;
	color: #666666;
	line-height: 24px;
	font-size: 24px;
}

