sb_job_board_index:
  url: /
  param: { module: sbJobBoardJob, action: index }
  class: aRoute

sb_job_board_post:
  url: /post
  param: { module: sbJobBoardJob, action: post }
  class: aRoute
  
sb_job_board_job_page:
  url: /:slug
  param: { module: sbJobBoardJob, action: job }
  options: { model: sbJobBoardJob, type: object }
  class: aDoctrineRoute
  requirements: { slug: '[\w-]+' }

sb_job_board_job:
  class: sfDoctrineRouteCollection
  options:
    model:                sbJobBoardJob
    module:               sbJobBoardJobAdmin
    prefix_path:          /admin/job-board-job
    column:               id
    with_wildcard_routes: true
    
sb_job_board_application:
  url: /job/application
  param: { module: sbJobBoardApplication, action: application }
  
sb_job_board_autocomplete_titles:
  url: /job-autocomplete/titles
  param: { module: sbJobBoardJobAjax, action: ajaxJobTitles }
  
sb_job_board_autocomplete_locations:
  url: /job-autocomplete/locations
  param: { module: sbJobBoardJobAjax, action: ajaxJobLocations }
  
sb_job_board_autocomplete_durations:
  url: /job-autocomplete/durations
  param: { module: sbJobBoardJobAjax, action: ajaxJobDurations }
  
sb_job_board_autocomplete_salary_benefits:
  url: /job-autocomplete/salary_benefits
  param: { module: sbJobBoardJobAjax, action: ajaxJobSalaryBenefits }
