sb_job_board_index:
  url: /
  param: { module: sbJobBoardJob, action: index }
  class: aRoute
  
sb_job_board_job_page:
  url: /job/:slug
  param: { module: sbJobBoardJob, action: job }
  options: { model: sbJobBoardJob, type: object }
  class: aDoctrineRoute
  requirements: { slug: '[\w-]+' }

sb_job_board_job:
  class: sfDoctrineRouteCollection
  options:
    model:                sbJobBoardJob
    module:               sbJobBoardJobAdmin
    prefix_path:          /admin/job-board-job
    column:               id
    with_wildcard_routes: true
